{% extends "base.html.twig" %}

{% block title %} Recordkeeping {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('core') }}
{% endblock %}

{% block body %}

<table>

</table>

{% endblock %}

{% block scripts %}

    {{ encore_entry_script_tags('core') }}

{% endblock %}